NODE_ENV=excuting envt
PORT=application port

# Development database
DB_DEV_NAME=development database name
DB_USER_NAME=database user name
DB_DIALECT=database used
DB_PORT=application port
DB_PASSWORD=database password
DB_HOST=database host

# Test database
DB_TEST_URL=url-to-test-database

# Staging database
DB_STAGING_URL=url-to-staging-database

# Production database
DB_PROD_URL=url-to-production-database

